{% extends 'base.html.twig' %}

{% block title %}Nouveau livre{% endblock %}

{% block main %}

<h2>Ajouter un nouveau livre à la base de données</h2>

{{ form(view) }}
    <nav>
        <a href="{{ path('app_admin_book_index') }}">Retour à l'accueil</a>
    </nav>

{% endblock %}
